body {
    background-color: blanchedalmond;
    font-size: 20px;
    font-family: 'Lobster', cursive;
    color: brown;
}
.row {
    height: 10%;
    width: 100%;
    display: flex;
}
.six-col {
    width: 50%;
    padding-left: 1rem;
}
.nav-links {
    display: inline;
    margin: 1rem;
    position: relative;
    top: 1rem;
}