body {
    background-color: blanchedalmond;
    color: brown;
    font-size: 1vw;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.row {
    width: 100%;
    font-size: 1vw;
}
.nav {
    display: inline;
    padding: 0vw 1vw 0vw 1vw;    
    font-family: 'Lobster', cursive;
}
ul {
    background-color: beige;
    margin: 0;
}
.text {
    font-size: 1vw;
}
img {
    border-radius: 5%;
    margin:1vw;
}